
.DS_Store
public/.DS_Store
public/assets/.DS_Store
node_modules/
public/.DS_Store
.vscode/settings.json
public/.DS_Store
public/assets/.DS_Store
public/.DS_Store
.DS_Store
public/assets/.DS_Store
public/.DS_Store
.DS_Store
public/.DS_Store
.DS_Store
.DS_Store
public/assets/videos/*
public/assets/.DS_Store
public/.DS_Store
.DS_Store
public/assets/videos/1.mp4
public/assets/videos/2.mp4
public/assets/videos/3.mp4
public/assets/videos/4.mp4
public/assets/videos/5.mp4
public/assets/videos/7.mp4
public/assets/videos/8.mp4
