html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
canvas#defaultCanvas0 {
  height: 100vh !important; 
  width: auto !important; 
  display: block;
  margin: 0 auto;
}

#game canvas {
  height: 100vh !important; 
  width: auto !important; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

